<section>
  <div>
    <nav>
      <img src="./../../../assets/logo-purple.svg" alt="Logo" />
      <a href="/">Home</a>
    </nav>
    <aside>
      <div>
        <img
          src="https://api.adorable.io/avatars/50/abott@adorable.png"
          alt="Felipe Kawassaki"
        />
        <div>
          <strong>User Test</strong>
          <a>My Profile </a>
        </div>
      </div>
      <mat-icon class="exit-custom" (click)="logout()">exit_to_app</mat-icon>
    </aside>
  </div>
</section>
